
// Image
// ––––––––––––––––––––––––––––––––––––––––––––––––––


img {
  max-width: 100%;
}

.cover-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}