
// Table
// ––––––––––––––––––––––––––––––––––––––––––––––––––

table {
  border-spacing: 0;
  display: block;
  overflow-x: auto;
  text-align: left;
  width: 100%;
  tr:last-child td {
    border-bottom: 0;
  }
}
td,
th {
  border-bottom: .1rem solid $color-quinary;
  padding: 1.2rem 1.2rem;

  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }
}
@media (min-width: 40.0rem) {
  table {
    display: table;
    overflow-x: initial;
  }
};

.page-nav {
  li {
    height: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 -0px 0 0 rgba(255,255,255,0.0) inset;
    transition: box-shadow 0.2s linear, color 0.2s linear;
    cursor: pointer;
    color: rgba(255,255,255,0.8);
    a {
      color: rgba(255,255,255,0.8);
    }
    &:hover,
    &:hover a,
    &.is-active,
    &.is-active a {
      color: rgba(255,255,255,1);
    }
    &:hover {
      box-shadow: 0 -4px 0 0 rgba(255,255,255,0.4) inset;
    }
    &.is-active {
      box-shadow: 0 -4px 0 0 rgba(255,255,255,0.7) inset;
    }
  }

}